@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


:root {
    --background-color: #1D2B53;
    --main-color: #FF004D;
    --negative-message: #FAEF5D;
    --positive-message: #16FF00;
    --font-family: 'Press Start 2P', system-ui;
}

h1 {
    font-family: var(--font-family);
    color: var(--main-color);
    text-align: center;
    margin-bottom: 50px;
}
body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.gameboard-container {
    max-width: 300px;
    max-height: 300px;
    padding: 0;

    align-self: center;
    display: flex;
    flex-wrap: wrap;

    border: 3px var(--main-color) dotted;
}

.cell {
    box-sizing: border-box;
    border: 3px var(--main-color) dotted;
    width: 100px;
    height: 100px;

    display:flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font-family);
    color:var(--main-color);
}

.reset-game {
    width: 200px;
    height: 75px;
    /* margin: 10px; */

    border: 4px dotted var(--main-color);
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--main-color);

}

.message, .turn {
    height: 20px;
    font-family: var(--font-family);
    color: var(--main-color);
}
.winner {
    color: var(--positive-message);
    font-family: var(--font-family);
}
.warning {
    color: var(--negative-message);
    font-family: var(--font-family);
}