h1 {
    font-style: italic;
    color: pink;
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gameboard-container {
    max-width: 300px;
    max-height: 300px;
    padding: 0;

    align-self: center;
    display: flex;
    flex-wrap: wrap;

    border: 2px green solid;
}

.cell {
    box-sizing: border-box;
    border: 1px solid black;
    width: 100px;
    height: 100px;

    display:flex;
    justify-content: center;
    align-items: center;
}

.reset-game {
    width: 100px;
    height: 50px;
    margin: 10px;
}